<div id= "main">
	<div class="contents">
		<div class="content">
			<div class="details-1">
				<li class="details">
					<p class="detail-1-name">タイトル：</p>
					<a class="detail-1"  href="#">インターネットでゲームソフトを買おう！</a>
				</li>
				<li class="details">
					<p class="detail-1-name">クリエイター：</p>
					<a class="detail-1" href="#">abc_012</a>
				</li>
				<li class="details">
					<p class="detail-1-name">作成日：</p>
					<p class="detail-1">　2019/08/27-18:00</p>
				</li>
			</div>
			<div class="details-2">
				<li class="details">
					<p class="detail-2-name">いいね：</p>
					<p class="detail-2">8</p>
				</li>
				<li class="details">
					<p class="detail-2-name">目標タイム：</p>
					<p class="detail-2">2.00分</p>
				</li>
				<li class="details">
					<p class="detail-2-name">クリアポイント：</p>
					<p class="detail-2">200pt</p>
				</li>
				<li class="details">
					<p class="detail-2-name">ランキング：</p>
					<p class="detail-2">10位</p>
				</li>
			</div>
		</div>
		<div class="content">
			<div class="details-1">
				<li class="details">
					<p class="detail-1-name">タイトル：</p>
					<a class="detail-1"  href="#">今日は特売日！！！最安値で電子レンジを買おう！part2</a>
				</li>
				<li class="details">
					<p class="detail-1-name">クリエイター：</p>
					<a class="detail-1" href="#">qwe_987</a>
				</li>
				<li class="details">
					<p class="detail-1-name">作成日：</p>
					<p class="detail-1">　2019/08/27-17:00</p>
				</li>
			</div>
			<div class="details-2">
				<li class="details">
					<p class="detail-2-name">いいね：</p>
					<p class="detail-2">16</p>
				</li>
				<li class="details">
					<p class="detail-2-name">目標タイム：</p>
					<p class="detail-2">3.00分</p>
				</li>
				<li class="details">
					<p class="detail-2-name">クリアポイント：</p>
					<p class="detail-2">400pt</p>
				</li>
				<li class="details">
					<p class="detail-2-name">ランキング：</p>
					<p class="detail-2">3位</p>
				</li>
			</div>
		</div>
		<div class="content">
			<div class="details-1">
				<li class="details">
					<p class="detail-1-name">タイトル：</p>
					<a class="detail-1"  href="#">今日は特売日！！！最安値で電子レンジを買おう！</a>
				</li>
				<li class="details">
					<p class="detail-1-name">クリエイター：</p>
					<a class="detail-1" href="#">qwe_987</a>
				</li>
				<li class="details">
					<p class="detail-1-name">作成日：</p>
					<p class="detail-1">　2019/08/27-14:00</p>
				</li>
			</div>
			<div class="details-2">
				<li class="details">
					<p class="detail-2-name">いいね：</p>
					<p class="detail-2">22</p>
				</li>
				<li class="details">
					<p class="detail-2-name">目標タイム：</p>
					<p class="detail-2">3.00分</p>
				</li>
				<li class="details">
					<p class="detail-2-name">クリアポイント：</p>
					<p class="detail-2">400pt</p>
				</li>
				<li class="details">
					<p class="detail-2-name">ランキング：</p>
					<p class="detail-2">2位</p>
				</li>
			</div>
		</div>
		<div class="content">
			<div class="details-1">
				<li class="details">
					<p class="detail-1-name">タイトル：</p>
					<a class="detail-1"  href="#">そのメールは本当に知っている人ですか？</a>
				</li>
				<li class="details">
					<p class="detail-1-name">クリエイター：</p>
					<a class="detail-1" href="#">good_mail</a>
				</li>
				<li class="details">
					<p class="detail-1-name">作成日：</p>
					<p class="detail-1">　2019/08/27-11:00</p>
				</li>
			</div>
			<div class="details-2">
				<li class="details">
					<p class="detail-2-name">いいね：</p>
					<p class="detail-2">1</p>
				</li>
				<li class="details">
					<p class="detail-2-name">目標タイム：</p>
					<p class="detail-2">1.00分</p>
				</li>
				<li class="details">
					<p class="detail-2-name">クリアポイント：</p>
					<p class="detail-2">100pt</p>
				</li>
				<li class="details">
					<p class="detail-2-name">ランキング：</p>
					<p class="detail-2">15位</p>
				</li>
			</div>
		</div>
		<div class="content">
			<div class="details-1">
				<li class="details">
					<p class="detail-1-name">タイトル：</p>
					<a class="detail-1"  href="#">SNSで新しい友達と遊ぶ日を決めよう</a>
				</li>
				<li class="details">
					<p class="detail-1-name">クリエイター：</p>
					<a class="detail-1" href="#">lime_000</a>
				</li>
				<li class="details">
					<p class="detail-1-name">作成日：</p>
					<p class="detail-1">　2019/08/27-09:00</p>
				</li>
			</div>
			<div class="details-2">
				<li class="details">
					<p class="detail-2-name">いいね：</p>
					<p class="detail-2">44</p>
				</li>
				<li class="details">
					<p class="detail-2-name">目標タイム：</p>
					<p class="detail-2">5.00分</p>
				</li>
				<li class="details">
					<p class="detail-2-name">クリアポイント：</p>
					<p class="detail-2">300pt</p>
				</li>
				<li class="details">
					<p class="detail-2-name">ランキング：</p>
					<p class="detail-2">1位</p>
				</li>
			</div>
		</div>
		<li class="content">contents_002</li>
		<li class="content">contents_003</li>
		<li class="content">contents_004</li>
		<li class="content">contents_005</li>
	</div>
</div>